.app {
	display: flex;
	flex-flow: column wrap;
	/* align-items: center; */
	/* justify-content: center; */
	text-align: center;
	background-color: #282c34;
	padding-bottom: 10%;
}
.header {
	background-color: #282c34;
	/* background-color: #282c34;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.grid {
	max-width: 100%;
	max-height: 100%;
	display: grid;
	grid: repeat(25, 45%) / auto-flow 2%;
	background-color: #282c34;
	color: white;
	justify-content: center;
	margin: 0 auto;
	/* align-content: center; */
	/* align-items: center; */
	/* padding-left: 10%; */
	/* padding-right: 10%; */
	padding-bottom: 50%;
	padding-top: 5%;
	width: 80%;
	/* height: auto; */
}
.grid-cell-dead {
	border: 1px solid white;
	background-color: black;
	text-align: center;
}
.grid-cell-alive {
	border: 1px solid white;
	background-color: pink;
	text-align: center;
}
.grid-cell:hover {
	background-color: white;
}
.grid-cell:active {
	background-color: white;
}
/* display: grid;
grid: repeat(25, 5%) / auto-flow 5%; */
